<?xml version="1.0" encoding="utf-8"?>
<Content Key="5118163b-6efe-4a18-9ec4-c219056aa1a5" Alias="AJROTC" Level="4">
  <Info>
    <Parent Key="f51f012e-688d-4521-b82e-1e775ec9498a">Staff Directory</Parent>
    <Path>/Home/About/StaffDirectory/AJROTC</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T16:53:11</CreateDate>
    <NodeName Default="AJROTC" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "12ffd3db-dd3f-4a21-83b0-f2497907ba9b",
      "key": "47cd99b6-f66c-48d2-af00-8ab08bd52f05",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "JROTC"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "JROTC Instructors"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "<p>The Cavalier Battalion is led by two U.S. Army instructors.</p>"
          }
        },
        {
          "alias": "staffList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "08b96c8a-22ec-4460-b6b2-ad593e7c565b",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Huascar Matias"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Senior Army Instructor"
                  },
                  {
                    "alias": "phone",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "714-663-6569"
                  },
                  {
                    "alias": "photo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "cb270e0a-33da-470f-a82a-d7dcc3802fe1",
                        "mediaKey": "2af70608-1000-49f9-9e7d-953822dcb15f",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "6c021f6f-1888-4a15-a6fd-63dceeeabc71",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Vance Richardson"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1st Sergeant"
                  },
                  {
                    "alias": "phone",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "714-663-6569"
                  },
                  {
                    "alias": "photo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "54384aa5-c837-4fbe-a0b0-e9635c8c32a0",
                        "mediaKey": "0ce2d51d-a1d5-4119-8f8c-85b5f8e0ab1a",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "08b96c8a-22ec-4460-b6b2-ad593e7c565b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6c021f6f-1888-4a15-a6fd-63dceeeabc71",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "08b96c8a-22ec-4460-b6b2-ad593e7c565b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6c021f6f-1888-4a15-a6fd-63dceeeabc71",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "81c11ef2-3284-4f26-8ba4-24f9dfb74c11",
      "key": "5118163b-0001-4a01-9c01-000000000001",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "47cd99b6-f66c-48d2-af00-8ab08bd52f05",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "47cd99b6-f66c-48d2-af00-8ab08bd52f05",
        "contentUdi": null,
        "settingsKey": "5118163b-0001-4a01-9c01-000000000001",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[AJROTC Staff]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "812c4554-c6cd-4760-86ec-fad27d86025e",
      "key": "5118163b-0002-4a01-9c01-000000000002",
      "values": [
        {
          "alias": "displayOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sectionPages"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "JROTC"
        },
        {
          "alias": "selfNameLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "JROTC",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/572e6da86c4041dfb50cdf743599427b",
              "url": null,
              "queryString": "",
              "culture": null
            }
          ]
        },
        {
          "alias": "additionalSubLinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Program Overview",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/87554966d86944aabaa8161abb544149",
              "url": null,
              "queryString": "",
              "culture": null
            },
            {
              "name": "Chain of Command and Battalion Staff",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/9494bfbbbd1644c58af29a75ba179189",
              "url": null,
              "queryString": "",
              "culture": null
            },
            {
              "name": "Curriculum Overview",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/270dd11a39f940e88264755a5c930d43",
              "url": null,
              "queryString": "",
              "culture": null
            },
            {
              "name": "Raiders Challenge",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/4b6b8e911fdc4b96aa9b0163ed9b7e60",
              "url": null,
              "queryString": "",
              "culture": null
            },
            {
              "name": "Instructors",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/5118163b6efe4a189ec4c219056aa1a5",
              "url": null,
              "queryString": "",
              "culture": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a1efc6b7-ab12-4faf-934f-ada3a76a3283",
      "key": "5118163b-0003-4a01-9c01-000000000003",
      "values": [
        {
          "alias": "displayAsPills",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "horizontalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "5118163b-0002-4a01-9c01-000000000002",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5118163b-0002-4a01-9c01-000000000002",
        "contentUdi": null,
        "settingsKey": "5118163b-0003-4a01-9c01-000000000003",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>