<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f2c6818-c287-458d-92c0-f143b883830e" Alias="AVID Demonstration" Level="3">
  <Info>
    <Parent Key="24ab1d45-0563-49e7-b5ad-55cd648be7f1">Academics</Parent>
    <Path>/Home/Academics/AVIDDemonstration</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T09:00:00</CreateDate>
    <NodeName Default="AVID Demonstration" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "a7363af5-1e8a-45a1-bb56-60a66389df86",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Academics"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "AVID: Advancement Via Individual Determination"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAVID is an award-winning national program that helps students in the academic middle succeed and enrol in four-year colleges straight out of high school. Students who have earned B, C, and sometimes D grades take a rigorous college-prep course load with steady tutoring and adult guidance.\u003C/p\u003E\n\u003Cp\u003ETo learn more, visit the \u003Ca href=\u0022http://www.avidonline.org/\u0022 target=\u0022_blank\u0022 rel=\u0022noopener\u0022\u003Eofficial AVID website\u003C/a\u003E.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "8c4ef08f-d620-4e32-9fde-0d367c5549fe",
      "key": "4f2c6818-0002-4a02-9c02-000000000002",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How AVID works"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "iconBoxList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "4f2c6818-2001-4b01-9d01-000000000001",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-book"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Rigorous curriculum"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EStudents in the academic middle take a college-prep course load, with honours and AP classes within reach.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "4f2c6818-2001-4b01-9d01-000000000002",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-users"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Daily tutorial support"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003ETrained college tutors and classmates run structured tutorials twice a week, built around the questions students bring.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "4f2c6818-2001-4b01-9d01-000000000003",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-graduation-cap"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "College and aid guidance"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EStudents and their families get support through the college application, scholarship, and financial aid process.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "4f2c6818-2001-4b01-9d01-000000000001",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4f2c6818-2001-4b01-9d01-000000000002",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4f2c6818-2001-4b01-9d01-000000000003",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "4f2c6818-2001-4b01-9d01-000000000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4f2c6818-2001-4b01-9d01-000000000002",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4f2c6818-2001-4b01-9d01-000000000003",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "a9d1ce00-0000-4b0e-9c22-a9d1ce000001",
      "key": "bead1ed0-a193-47f1-89ac-037ce3d1d2a3",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "badge",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "RECOGNITION"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "icon-award color-yellow"
        },
        {
          "alias": "message",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-size: 12pt;\u0022\u003ESantiago High School is recognized as a National Demonstration School and a Schoolwide Site of Distinction.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "82473749-a823-4a58-94a5-8a7947a3db3a",
      "key": "2790b985-1923-4a06-a90e-362eb1d27318",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Awards and recognition"
        },
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4515d588-bcc9-4264-88cf-5f1a3e265953",
              "mediaKey": "c0a1d000-0000-4b01-9c01-000000000001",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "bfda7e28-678b-4a07-8fc5-37087e19e93c",
              "mediaKey": "c0a1d000-0000-4b02-9c02-000000000002",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "32a63453-ab63-4fe7-b528-1dee2903f03d",
      "key": "6d5bf568-220a-4cd8-b7d9-9c4194e2e498",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Focused note-taking resources"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "resourceList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "2ef79ad9-22a1-472c-b75a-8b96fbbb7b3a",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "2-Column Focused Note-Taking Template (DOCX)"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "2-Column Focused Note-Taking Template (DOCX)",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://4.files.edl.io/b57a/10/13/20/181514-398c1f1d-b90d-4d96-9969-165128d5607c.docx",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "79da45c7-e842-44aa-8b31-5b9c8a103aa6",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "3-Column Focused Note-Taking Template (DOCX)"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "3-Column Focused Note-Taking Template (DOCX)",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://4.files.edl.io/ea85/10/13/20/181515-fe673e7f-6da9-47ab-b7ef-d83280635a5c.docx",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "4ef4162a-c4b4-4903-8fa1-daf22fb1361f",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Digital Considerations for Focused Note-Taking (PDF)"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Digital Considerations for Focused Note-Taking (PDF)",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://4.files.edl.io/d50f/10/13/20/181515-dfee8e50-15e6-48c1-9a90-f9b6b86b67cc.pdf",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "f3bc36b0-f63c-457f-abd2-a3559cac2804",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Digital Focused Note-Taking Templates (PDF)"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Digital Focused Note-Taking Templates (PDF)",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://4.files.edl.io/5ec0/10/13/20/181515-a801b88a-b00c-4709-be14-536968a26be7.pdf",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "2ef79ad9-22a1-472c-b75a-8b96fbbb7b3a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "79da45c7-e842-44aa-8b31-5b9c8a103aa6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4ef4162a-c4b4-4903-8fa1-daf22fb1361f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f3bc36b0-f63c-457f-abd2-a3559cac2804",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "2ef79ad9-22a1-472c-b75a-8b96fbbb7b3a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "79da45c7-e842-44aa-8b31-5b9c8a103aa6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4ef4162a-c4b4-4903-8fa1-daf22fb1361f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f3bc36b0-f63c-457f-abd2-a3559cac2804",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "32a63453-ab63-4fe7-b528-1dee2903f03d",
      "key": "9d870383-df62-4f4d-b4e0-13a872cd7606",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tutorial resources"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUpdated 2020 resources from AVID Center.\u003C/p\u003E"
          }
        },
        {
          "alias": "resourceList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "69cf75d8-ff75-43f2-810c-37980ae1b08c",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "100-Point Tutorial Request Form (DOCX)"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "100-Point Tutorial Request Form (DOCX)",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://4.files.edl.io/5131/10/13/20/181903-aaba6097-609b-4ecd-85a7-73daa1f27b0f.docx",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e7d63e1-be69-4055-8884-8aa6e01a5e3e",
                "key": "1d7d3164-492f-4338-9317-ac95d16ee854",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "10 Steps One-Pager (PDF)"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "10 Steps One-Pager (PDF)",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://4.files.edl.io/baa2/10/13/20/182204-72062357-48d9-414c-981b-5c16e63ddd1a.pdf",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "69cf75d8-ff75-43f2-810c-37980ae1b08c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1d7d3164-492f-4338-9317-ac95d16ee854",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "69cf75d8-ff75-43f2-810c-37980ae1b08c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1d7d3164-492f-4338-9317-ac95d16ee854",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "98a91a1c-a4d2-438d-8fdd-6ffda77bdce7",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "f31ba0cb-1be7-43f4-ae3e-91d4d1afd7c8",
      "key": "4f2c6818-3002-4f02-8c02-000000000002",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "py-4"
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "full width"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "d92a3856-c39c-4581-8b0f-97c33a4de57e",
      "key": "33d25edc-cedf-4daf-a085-972a95dec9da",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "group",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "74baf320-151e-44c4-8f3a-b6769e1a1946",
      "key": "4dcae6d5-0c7a-4ec7-a900-6680a45708a5",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "74baf320-151e-44c4-8f3a-b6769e1a1946",
      "key": "0f7a13e0-4828-43f9-9234-7fa28d226a52",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "a7363af5-1e8a-45a1-bb56-60a66389df86",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4f2c6818-0002-4a02-9c02-000000000002",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bead1ed0-a193-47f1-89ac-037ce3d1d2a3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2790b985-1923-4a06-a90e-362eb1d27318",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6d5bf568-220a-4cd8-b7d9-9c4194e2e498",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9d870383-df62-4f4d-b4e0-13a872cd7606",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a7363af5-1e8a-45a1-bb56-60a66389df86",
        "contentUdi": null,
        "settingsKey": "98a91a1c-a4d2-438d-8fdd-6ffda77bdce7",
        "settingsUdi": null
      },
      {
        "contentKey": "4f2c6818-0002-4a02-9c02-000000000002",
        "contentUdi": null,
        "settingsKey": "4f2c6818-3002-4f02-8c02-000000000002",
        "settingsUdi": null
      },
      {
        "contentKey": "bead1ed0-a193-47f1-89ac-037ce3d1d2a3",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2790b985-1923-4a06-a90e-362eb1d27318",
        "contentUdi": null,
        "settingsKey": "33d25edc-cedf-4daf-a085-972a95dec9da",
        "settingsUdi": null
      },
      {
        "contentKey": "6d5bf568-220a-4cd8-b7d9-9c4194e2e498",
        "contentUdi": null,
        "settingsKey": "4dcae6d5-0c7a-4ec7-a900-6680a45708a5",
        "settingsUdi": null
      },
      {
        "contentKey": "9d870383-df62-4f4d-b4e0-13a872cd7606",
        "contentUdi": null,
        "settingsKey": "0f7a13e0-4828-43f9-9234-7fa28d226a52",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[AVID]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "812c4554-c6cd-4760-86ec-fad27d86025e",
      "key": "eaee92c6-4d3c-4af0-a69e-63cf3b79887d",
      "values": [
        {
          "alias": "displayOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sectionPages"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "AVID"
        },
        {
          "alias": "selfNameLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Info",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/4f2c6818c287458d92c0f143b883830e",
              "url": null,
              "queryString": "",
              "culture": null
            }
          ]
        },
        {
          "alias": "additionalSubLinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Staff",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/3bf904556def49f0af5f6d904a95eeb4",
              "url": null,
              "queryString": "",
              "culture": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a1efc6b7-ab12-4faf-934f-ada3a76a3283",
      "key": "457b02e8-47bb-4c11-a852-bc21830514a8",
      "values": [
        {
          "alias": "displayAsPills",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "horizontalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "eaee92c6-4d3c-4af0-a69e-63cf3b79887d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "eaee92c6-4d3c-4af0-a69e-63cf3b79887d",
        "contentUdi": null,
        "settingsKey": "457b02e8-47bb-4c11-a852-bc21830514a8",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>