<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5a1b0c0-a71d-4e02-9c33-0000000000a1" Alias="AVID Photo Album" Level="4">
  <Info>
    <Parent Key="4f2c6818-c287-458d-92c0-f143b883830e">AVID Demonstration</Parent>
    <Path>/Home/Academics/AVIDDemonstration/AVIDPhotoAlbum</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-30T21:30:00</CreateDate>
    <NodeName Default="AVID Photo Album" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "82473749-a823-4a58-94a5-8a7947a3db3a",
      "key": "4e0285b4-1602-4fb4-9b7b-e342e76f89a7",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c0892e2a-126b-407e-8788-8c958ceb1ae3",
              "mediaKey": "c0a1d000-0000-4b04-9c04-000000000004",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "457cee61-3445-40ba-bf65-db295572126d",
              "mediaKey": "c0a1d000-0000-4b03-9c03-000000000003",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d92a3856-c39c-4581-8b0f-97c33a4de57e",
      "key": "1c0949e0-b4b1-4c1d-bf6b-47d574fe9393",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "group",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4e0285b4-1602-4fb4-9b7b-e342e76f89a7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4e0285b4-1602-4fb4-9b7b-e342e76f89a7",
        "contentUdi": null,
        "settingsKey": "1c0949e0-b4b1-4c1d-bf6b-47d574fe9393",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[AVID Photo Album]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>