<?xml version="1.0" encoding="utf-8"?>
<Content Key="572e6da8-6c40-41df-b50c-df743599427b" Alias="JROTC" Level="3">
  <Info>
    <Parent Key="24ab1d45-0563-49e7-b5ad-55cd648be7f1">Academics</Parent>
    <Path>/Home/Academics/JROTC</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T09:00:00</CreateDate>
    <NodeName Default="JROTC" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "572e6da8-0002-4a01-9c01-000000000002",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Cavalier Battalion"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Army Junior ROTC"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESantiago High School hosts an Army Junior Reserve Officers\u0027 Training Corps unit, the Cavalier Battalion. JROTC is a character development and citizenship programme for high school students. It carries no military service obligation.\u003C/p\u003E"
          }
        },
        {
          "alias": "photo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "572e6da8-0001-4a01-9c01-000000000001",
              "mediaKey": "7e7d3e7f-296a-4ef3-828a-2dc0ba99ce42",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "a9d1ce00-0000-4b0e-9c22-a9d1ce000001",
      "key": "572e6da8-0004-4a01-9c01-000000000004",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "badge",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "MISSION"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "icon-flag color-yellow"
        },
        {
          "alias": "message",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ETo motivate young people to be better citizens.\u003C/p\u003E"
          }
        },
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "U.S. Army JROTC",
              "target": "_blank",
              "unique": null,
              "type": null,
              "udi": null,
              "url": "https://usarmyjrotc.army.mil/",
              "queryString": null,
              "culture": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "8c4ef08f-d620-4e32-9fde-0d367c5549fe",
      "key": "572e6da8-0010-4a01-9c01-000000000010",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Program outcomes"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "iconBoxList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "572e6da8-0005-4a01-9c01-000000000005",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-balance-scale"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Integrity and accountability"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EAct with integrity and personal accountability while leading others to succeed in a diverse and global workforce.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "572e6da8-0006-4a01-9c01-000000000006",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-users"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Civic engagement"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EEngage in civic and social concerns in the community, government, and society.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "572e6da8-0007-4a01-9c01-000000000007",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-graduation-cap"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Ready to graduate"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EGraduate prepared to succeed in post-secondary options and career pathways.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "572e6da8-0008-4a01-9c01-000000000008",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-heartbeat"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Health and wellbeing"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EMake decisions that promote positive social, emotional, and physical health.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "572e6da8-0009-4a01-9c01-000000000009",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-flag"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Respect for service"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EValue the role of the military and other service organisations.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "572e6da8-0005-4a01-9c01-000000000005",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "572e6da8-0006-4a01-9c01-000000000006",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "572e6da8-0007-4a01-9c01-000000000007",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "572e6da8-0008-4a01-9c01-000000000008",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "572e6da8-0009-4a01-9c01-000000000009",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "572e6da8-0005-4a01-9c01-000000000005",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "572e6da8-0006-4a01-9c01-000000000006",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "572e6da8-0007-4a01-9c01-000000000007",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "572e6da8-0008-4a01-9c01-000000000008",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "572e6da8-0009-4a01-9c01-000000000009",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "5100d1a5-1c1a-4d5e-9a11-11c1a5d10001",
      "key": "572e6da8-0017-4a01-9c01-000000000017",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Explore the battalion"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "572e6da8-0012-4a01-9c01-000000000012",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Program Overview"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-flag"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Program Overview",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/87554966d86944aabaa8161abb544149",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "572e6da8-0013-4a01-9c01-000000000013",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Chain of Command and Battalion Staff"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-sitemap"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Chain of Command and Battalion Staff",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/9494bfbbbd1644c58af29a75ba179189",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "572e6da8-0014-4a01-9c01-000000000014",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Curriculum Overview"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-book"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Curriculum Overview",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/270dd11a39f940e88264755a5c930d43",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "572e6da8-0015-4a01-9c01-000000000015",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Raiders Challenge"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-shield"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Raiders Challenge",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/4b6b8e911fdc4b96aa9b0163ed9b7e60",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "572e6da8-0016-4a01-9c01-000000000016",
                "values": [
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Instructors"
                  },
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-users"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Instructors",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/5118163b6efe4a189ec4c219056aa1a5",
                        "url": null,
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "572e6da8-0012-4a01-9c01-000000000012",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "572e6da8-0013-4a01-9c01-000000000013",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "572e6da8-0014-4a01-9c01-000000000014",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "572e6da8-0015-4a01-9c01-000000000015",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "572e6da8-0016-4a01-9c01-000000000016",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "572e6da8-0012-4a01-9c01-000000000012",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "572e6da8-0013-4a01-9c01-000000000013",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "572e6da8-0014-4a01-9c01-000000000014",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "572e6da8-0015-4a01-9c01-000000000015",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "572e6da8-0016-4a01-9c01-000000000016",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "82473749-a823-4a58-94a5-8a7947a3db3a",
      "key": "572e6da8-0022-4a01-9c01-000000000022",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Cavalier Battalion"
        },
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "572e6da8-0019-4a01-9c01-000000000019",
              "mediaKey": "7e7d3e7f-296a-4ef3-828a-2dc0ba99ce42",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "572e6da8-0020-4a01-9c01-000000000020",
              "mediaKey": "fcd3edb4-a358-4a0e-82f7-fa719dffffaf",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "572e6da8-0021-4a01-9c01-000000000021",
              "mediaKey": "393371f9-2130-4e75-afba-41938b6bb56d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "572e6da8-0003-4a01-9c01-000000000003",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "blockStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Style 2"
          ]
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "py-5"
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "big"
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4a1f7a"
        }
      ]
    },
    {
      "contentTypeKey": "f31ba0cb-1be7-43f4-ae3e-91d4d1afd7c8",
      "key": "572e6da8-0011-4a01-9c01-000000000011",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "5"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "py-5"
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4a1f7a"
        },
        {
          "alias": "anchorId",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "jrotc-outcomes"
        },
        {
          "alias": "columnSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "572e6da8-0018-4a01-9c01-000000000018",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockStyle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "d92a3856-c39c-4581-8b0f-97c33a4de57e",
      "key": "572e6da8-0023-4a01-9c01-000000000023",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "group",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#f3edfa"
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "big"
          ]
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "py-4"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "572e6da8-0002-4a01-9c01-000000000002",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "572e6da8-0004-4a01-9c01-000000000004",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "572e6da8-0010-4a01-9c01-000000000010",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "572e6da8-0017-4a01-9c01-000000000017",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "572e6da8-0022-4a01-9c01-000000000022",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "572e6da8-0002-4a01-9c01-000000000002",
        "contentUdi": null,
        "settingsKey": "572e6da8-0003-4a01-9c01-000000000003",
        "settingsUdi": null
      },
      {
        "contentKey": "572e6da8-0004-4a01-9c01-000000000004",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "572e6da8-0010-4a01-9c01-000000000010",
        "contentUdi": null,
        "settingsKey": "572e6da8-0011-4a01-9c01-000000000011",
        "settingsUdi": null
      },
      {
        "contentKey": "572e6da8-0017-4a01-9c01-000000000017",
        "contentUdi": null,
        "settingsKey": "572e6da8-0018-4a01-9c01-000000000018",
        "settingsUdi": null
      },
      {
        "contentKey": "572e6da8-0022-4a01-9c01-000000000022",
        "contentUdi": null,
        "settingsKey": "572e6da8-0023-4a01-9c01-000000000023",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[JROTC]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "812c4554-c6cd-4760-86ec-fad27d86025e",
      "key": "572e6da8-0024-4a01-9c01-000000000024",
      "values": [
        {
          "alias": "displayOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sectionPages"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "JROTC"
        },
        {
          "alias": "selfNameLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "JROTC",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/572e6da86c4041dfb50cdf743599427b",
              "url": null,
              "queryString": "",
              "culture": null
            }
          ]
        },
        {
          "alias": "additionalSubLinks",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Instructors",
              "target": null,
              "unique": null,
              "type": null,
              "udi": "umb://document/5118163b6efe4a189ec4c219056aa1a5",
              "url": null,
              "queryString": "",
              "culture": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "a1efc6b7-ab12-4faf-934f-ada3a76a3283",
      "key": "572e6da8-0025-4a01-9c01-000000000025",
      "values": [
        {
          "alias": "displayAsPills",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "horizontalAlignment",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "572e6da8-0024-4a01-9c01-000000000024",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "572e6da8-0024-4a01-9c01-000000000024",
        "contentUdi": null,
        "settingsKey": "572e6da8-0025-4a01-9c01-000000000025",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[0]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>