<?xml version="1.0" encoding="utf-8"?>
<Content Key="e89b4129-cdb4-4b85-831e-3945babd5bb4" Alias="Library Media Center" Level="3">
  <Info>
    <Parent Key="24ab1d45-0563-49e7-b5ad-55cd648be7f1">Academics</Parent>
    <Path>/Home/Academics/LibraryMediaCenter</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-28T09:00:00</CreateDate>
    <NodeName Default="Library Media Center" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "11b0a000-0001-4a01-9c01-000000000001",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "<p>Research databases, the library catalogue, opening hours and contact details for the Santiago High School Library Media Center.</p>"
          }
        }
      ]
    },
    {
      "contentTypeKey": "a9d1ce00-0000-4b0e-9c22-a9d1ce000001",
      "key": "11b0a000-0002-4a02-9c02-000000000002",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "badge",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "LOGIN"
        },
        {
          "alias": "icon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "fa fa-key"
        },
        {
          "alias": "message",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "<p>Most databases share one login. Username: <strong>santiago</strong> &nbsp;&middot;&nbsp; Password: <strong>student</strong></p>"
          }
        }
      ]
    },
    {
      "contentTypeKey": "c4a0d80c-1a11-4b0e-9c22-ca4db0c50001",
      "key": "11b0a000-0003-4a03-9c03-000000000003",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Research databases"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "<p>Select a database to open it in a new tab. Use the shared login above if you are prompted.</p>"
          }
        },
        {
          "alias": "cards",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "11b0d1a5-0000-4b00-9d00-000000000001",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "JSTOR"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Journals, books and primary source documents across more than 175 subjects. A broad single resource for intermediate to advanced work.</p>"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "JSTOR",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://www.jstor.org/",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "11b0d1a5-0000-4b00-9d00-000000000002",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ProQuest"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>College level database of journals, books and primary source documents for intermediate to advanced researchers.</p>"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "ProQuest",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://search.proquest.com/",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "11b0d1a5-0000-4b00-9d00-000000000003",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CentralK12"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>ProQuest resources for the beginning researcher, with a simpler interface.</p>"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "CentralK12",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://search.proquest.com/centralk12/?accountid=193134",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "11b0d1a5-0000-4b00-9d00-000000000004",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "SIRS Discoverer"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Science, technology, news, education and social sciences. Suitable for all levels.</p>"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "SIRS Discoverer",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "http://discoverer.prod.sirs.com/discoweb/disco/do/frontpage",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "11b0d1a5-0000-4b00-9d00-000000000005",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ProQuest Issues & Researcher"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Pro and con articles on health, social, historic, economic, business, political and global issues.</p>"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "ProQuest Issues & Researcher",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://sks.sirs.com/webapp/issues-researcher",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "11b0d1a5-0000-4b00-9d00-000000000006",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Britannica School (English)"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Articles, images, dictionary, magazines and videos at three reading levels.</p>"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Britannica School (English)",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://school.eb.com/levels",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "11b0d1a5-0000-4b00-9d00-000000000007",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Britannica Escolar (Spanish)"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Spanish language edition of Britannica School.</p>"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Britannica Escolar (Spanish)",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://escolar.eb.com/levels",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "11b0d1a5-0000-4b00-9d00-000000000008",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CultureGrams"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Cultural information on the countries of the world.</p>"
                    }
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "CultureGrams",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://online.culturegrams.com/",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "11b0d1a5-0000-4b00-9d00-000000000001",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "11b0d1a5-0000-4b00-9d00-000000000002",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "11b0d1a5-0000-4b00-9d00-000000000003",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "11b0d1a5-0000-4b00-9d00-000000000004",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "11b0d1a5-0000-4b00-9d00-000000000005",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "11b0d1a5-0000-4b00-9d00-000000000006",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "11b0d1a5-0000-4b00-9d00-000000000007",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "11b0d1a5-0000-4b00-9d00-000000000008",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "11b0d1a5-0000-4b00-9d00-000000000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "11b0d1a5-0000-4b00-9d00-000000000002",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "11b0d1a5-0000-4b00-9d00-000000000003",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "11b0d1a5-0000-4b00-9d00-000000000004",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "11b0d1a5-0000-4b00-9d00-000000000005",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "11b0d1a5-0000-4b00-9d00-000000000006",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "11b0d1a5-0000-4b00-9d00-000000000007",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "11b0d1a5-0000-4b00-9d00-000000000008",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "11b0a000-0004-4a04-9c04-000000000004",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "<p><a href=\"https://4.files.edl.io/17a3/12/21/18/222706-dbe47855-3afc-4359-868e-4262a6328f1a.docx\" target=\"_blank\" rel=\"noopener\">Download the databases summary (DOCX)</a></p>"
          }
        }
      ]
    },
    {
      "contentTypeKey": "b2442923-8b18-4852-b6be-4f19b006a0e8",
      "key": "11b0a000-0005-4a05-9c05-000000000005",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "11b0d1a5-0000-4c00-9e00-000000000001",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-search color-text"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Library catalogue"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Library catalogue",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://search.follettsoftware.com/metasearch/ui/72612",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "a1ae49da-7da4-43b1-b12b-8f1abef5e962",
                "key": "11b0d1a5-0000-4c00-9e00-000000000002",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "icon-user color-text"
                  },
                  {
                    "alias": "label",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Sign in to the library"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Sign in to the library",
                        "target": "_blank",
                        "unique": null,
                        "type": null,
                        "udi": null,
                        "url": "https://docs.google.com/forms/d/e/1FAIpQLSf0IcbWXqy7toftNBAI6onw1wsiyS8Czl51_pMJMQmxLDUVFw/viewform",
                        "queryString": null,
                        "culture": null
                      }
                    ]
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "11b0d1a5-0000-4c00-9e00-000000000001",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "11b0d1a5-0000-4c00-9e00-000000000002",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "11b0d1a5-0000-4c00-9e00-000000000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "11b0d1a5-0000-4c00-9e00-000000000002",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "c4a0d80c-1a11-4b0e-9c22-ca4db0c50001",
      "key": "11b0a000-0006-4a06-9c06-000000000006",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Visit us"
        },
        {
          "alias": "cards",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "11b0d1a5-0000-4b00-9d01-000000000001",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Hours"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Monday to Thursday: 6:45 am &ndash; 6:00 pm<br>Friday: 6:45 am &ndash; 4:00 pm</p>"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "11b0d1a5-0000-4b00-9d01-000000000002",
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "How to reach us"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "<p>Phone: (714) 663-6082<br>Intercom line: 137</p>"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "11b0d1a5-0000-4b00-9d01-000000000001",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "11b0d1a5-0000-4b00-9d01-000000000002",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "11b0d1a5-0000-4b00-9d01-000000000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "11b0d1a5-0000-4b00-9d01-000000000002",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "12ffd3db-dd3f-4a21-83b0-f2497907ba9b",
      "key": "11b0a000-0007-4a07-9c07-000000000007",
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Library staff"
        },
        {
          "alias": "staffList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "9f661a13-f119-496b-b746-26b09b3f2a03",
                "key": "11b0d1a5-0000-4d00-9f00-000000000001",
                "values": [
                  {
                    "alias": "name",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Heather Eckert"
                  },
                  {
                    "alias": "lastName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Eckert"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Librarian/ECA Teacher"
                  },
                  {
                    "alias": "phone",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "(714) 663-6082"
                  },
                  {
                    "alias": "email",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Heckert@ggusd.us"
                  },
                  {
                    "alias": "department",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Library"
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "11b0d1a5-0000-4d00-9f00-000000000001",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "11b0d1a5-0000-4d00-9f00-000000000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "11b0f000-0001-4f01-8c01-000000000001",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "f31ba0cb-1be7-43f4-ae3e-91d4d1afd7c8",
      "key": "11b0f000-0003-4f03-8c03-000000000003",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "classnames",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "library-databases"
        }
      ]
    },
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "11b0f000-0004-4f04-8c04-000000000004",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "b48fdab0-c6b0-47ab-99e4-48902872bfd5",
      "key": "11b0f000-0005-4f05-8c05-000000000005",
      "values": [
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    },
    {
      "contentTypeKey": "f31ba0cb-1be7-43f4-ae3e-91d4d1afd7c8",
      "key": "11b0f000-0006-4f06-8c06-000000000006",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "classnames",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "library-info"
        }
      ]
    },
    {
      "contentTypeKey": "81c11ef2-3284-4f26-8ba4-24f9dfb74c11",
      "key": "11b0f000-0007-4f07-8c07-000000000007",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "11b0a000-0001-4a01-9c01-000000000001",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "11b0a000-0002-4a02-9c02-000000000002",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "11b0a000-0003-4a03-9c03-000000000003",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "11b0a000-0004-4a04-9c04-000000000004",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "11b0a000-0005-4a05-9c05-000000000005",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "11b0a000-0006-4a06-9c06-000000000006",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "11b0a000-0007-4a07-9c07-000000000007",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "11b0a000-0001-4a01-9c01-000000000001",
        "contentUdi": null,
        "settingsKey": "11b0f000-0001-4f01-8c01-000000000001",
        "settingsUdi": null
      },
      {
        "contentKey": "11b0a000-0002-4a02-9c02-000000000002",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "11b0a000-0003-4a03-9c03-000000000003",
        "contentUdi": null,
        "settingsKey": "11b0f000-0003-4f03-8c03-000000000003",
        "settingsUdi": null
      },
      {
        "contentKey": "11b0a000-0004-4a04-9c04-000000000004",
        "contentUdi": null,
        "settingsKey": "11b0f000-0004-4f04-8c04-000000000004",
        "settingsUdi": null
      },
      {
        "contentKey": "11b0a000-0005-4a05-9c05-000000000005",
        "contentUdi": null,
        "settingsKey": "11b0f000-0005-4f05-8c05-000000000005",
        "settingsUdi": null
      },
      {
        "contentKey": "11b0a000-0006-4a06-9c06-000000000006",
        "contentUdi": null,
        "settingsKey": "11b0f000-0006-4f06-8c06-000000000006",
        "settingsUdi": null
      },
      {
        "contentKey": "11b0a000-0007-4a07-9c07-000000000007",
        "contentUdi": null,
        "settingsKey": "11b0f000-0007-4f07-8c07-000000000007",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Santiago Library]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[0]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>