<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e4b7a9f-e979-44a8-b988-a80cac1fa145" Alias="Vision and Mission Statement" Level="3">
  <Info>
    <Parent Key="77ea5b98-8a09-42b6-b705-8c6bb3fabdf7">About</Parent>
    <Path>/Home/About/VisionAndMissionStatement</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2026-08-24T22:13:56</CreateDate>
    <NodeName Default="Vision and Mission Statement" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="177e59b6-ba34-4c6c-94a6-4c216db3ed77">Page</Template>
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "30a0d072-7837-449e-9db2-228afed80595",
      "key": "7e4b7a9f-1001-4a01-9c01-000000000001",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Santiago High School"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Vision and Mission"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022color: rgb(255, 255, 255);\u0022\u003ESantiago High School will provide our diverse student body with an equitable education. Students at Santiago are held to high expectations of academic achievement and citizenship.\u003C/span\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan style=\u0022color: rgb(255, 255, 255);\u0022\u003EStudents engage in multiple opportunities to succeed through rigorous, standards-based curricula, diverse and inclusive extracurricular programs, and comprehensive academic and socio-emotional support.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "photo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "links",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "8c4ef08f-d620-4e32-9fde-0d367c5549fe",
      "key": "7e4b7a9f-1002-4a02-9c02-000000000002",
      "values": [
        {
          "alias": "preheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Cavs Are..."
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Three Pillars"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "iconBoxList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "7e4b7a9f-2001-4b01-9d01-000000000001",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-graduation-cap"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Successful"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cem\u003EGoal 3: Lifelong Success\u003C/em\u003E\u003C/p\u003E\u003Cul\u003E\u003Cli\u003EScholars will be college- and career-ready by completing graduation requirements.\u003C/li\u003E\u003Cli\u003EScholars will demonstrate grit and resilience as they prepare for lifelong success in their intended college and career paths.\u003C/li\u003E\u003C/ul\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "7e4b7a9f-2001-4b01-9d01-000000000002",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-handshake-o"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Civic-Minded"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cem\u003EGoal 2: Personal Skills\u003C/em\u003E\u003C/p\u003E\u003Cul\u003E\u003Cli\u003EScholars will respect individual differences and embrace the community\u0027s cultural diversity.\u003C/li\u003E\u003Cli\u003EScholars will contribute to improving the quality of life within their community.\u003C/li\u003E\u003C/ul\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              },
              {
                "contentTypeKey": "5e5686b5-7aef-442f-8dc0-f8a45bf50405",
                "key": "7e4b7a9f-2001-4b01-9d01-000000000003",
                "values": [
                  {
                    "alias": "icon",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "fa fa-lightbulb-o"
                  },
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Critical Thinkers"
                  },
                  {
                    "alias": "text",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cem\u003EGoal 1: Academic Skills\u003C/em\u003E\u003C/p\u003E\u003Cul\u003E\u003Cli\u003EScholars will access a rigorous curriculum by developing critical thinking skills to analyze and evaluate information in order to make and communicate informed decisions.\u003C/li\u003E\u003C/ul\u003E"
                    }
                  },
                  {
                    "alias": "blockVisibility",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "7e4b7a9f-2001-4b01-9d01-000000000001",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7e4b7a9f-2001-4b01-9d01-000000000002",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7e4b7a9f-2001-4b01-9d01-000000000003",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "7e4b7a9f-2001-4b01-9d01-000000000003",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7e4b7a9f-2001-4b01-9d01-000000000002",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7e4b7a9f-2001-4b01-9d01-000000000001",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "d93d7c13-0672-4967-9ba8-843e886f455f",
      "key": "7e4b7a9f-3001-4f01-8c01-000000000001",
      "values": [
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "#4a1f7a"
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "py-4"
          ]
        },
        {
          "alias": "containerWidth",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "big"
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f31ba0cb-1be7-43f4-ae3e-91d4d1afd7c8",
      "key": "7e4b7a9f-3002-4f02-8c02-000000000002",
      "values": [
        {
          "alias": "itemsPerRow",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "3"
        },
        {
          "alias": "blockVisibility",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "centerHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        },
        {
          "alias": "showTopBorder",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "verticalSpacing",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "py-5"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7e4b7a9f-1001-4a01-9c01-000000000001",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "7e4b7a9f-1002-4a02-9c02-000000000002",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7e4b7a9f-1001-4a01-9c01-000000000001",
        "contentUdi": null,
        "settingsKey": "7e4b7a9f-3001-4f01-8c01-000000000001",
        "settingsUdi": null
      },
      {
        "contentKey": "7e4b7a9f-1002-4a02-9c02-000000000002",
        "contentUdi": null,
        "settingsKey": "7e4b7a9f-3002-4f02-8c02-000000000002",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <headerBlocks>
      <Value><![CDATA[]]></Value>
    </headerBlocks>
    <pageTitle>
      <Value><![CDATA[Vision and Mission Statement]]></Value>
    </pageTitle>
    <showParent>
      <Value><![CDATA[1]]></Value>
    </showParent>
    <sidebarBlocks>
      <Value><![CDATA[]]></Value>
    </sidebarBlocks>
    <sidebarNaviHide>
      <Value><![CDATA[1]]></Value>
    </sidebarNaviHide>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>